.home {
    background-image: url('../cuero1.png');
    background-repeat: repeat;
    width: 100%;
}

.card-title {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.img-description {  
    height: 30em;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;   
    margin-bottom: 1em;  
    margin-top: 1em;
}

.description {
    text-align: center;
    width: 100%;
    top: auto;
    padding: 2em;
    padding-top: 2em;
    padding-bottom: 0;
}

.description-title {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 4em;
    color: rgba(252, 252, 252, 1) !important; 
    width: 100%;
    text-shadow: 2px 2px 4px #000000;
}

.description-body {
    font-size: 1em;
    text-align: center;
    color: rgba(252, 252, 252, 0.4) !important; 
    width: 100%;
}

@media (max-width: 700px) {  

    .img-description {  
        height: 12em;
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;    
        margin-bottom: 1em;  
        margin-top: 1em; 
    }
    
    .description-title {
        margin-top: 1em;
        margin-bottom: 0.5em;
        font-size: 2em;
        color: rgba(252, 252, 252, 1) !important; 
        width: 100%;
        text-shadow: 2px 2px 4px #000000;
    }
}





