.carousel-inner {
    max-width: 39em !important;
}

.img-carousel-container {
    height: 25em;
    width: 100%;
    padding-right: 10em;
    padding-left: 10em;
    background-color: black;
    opacity: 1;
}


@media (max-width: 700px) { 

    .img-carousel-container {
        height: auto;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        background-color: black;
        opacity: 1;
    }
}
